
div.criteria h2, 
div.criteria h3, 
div.criteria h4 {
  margin-top: 1em;
}

section.category h3 {
  margin-top: 1em;
}


section.category p.description {
  margin:0;
}


section#criteria span.label {
  font-weight: bold;
}

section#criteria span.instruction,
section#criteria span.meaning {
  font-style:oblique;
}

section.criterion {
  border:thin solid black;
  margin: 2em 0;
  border-collapse: collapse;
}

section.criterion h4.name-row {
  font-weight: bold;
  font-size: larger;
  padding-left: .75em;
  margin-top: .5em;
  margin-bottom: .5em;
  
}

section.criterion div.header-wrapper {
  background-color: rgb(221, 255, 221);
  padding: 0;
  
}

section.criterion div {
  border-bottom: thin solid #b4b2b2;
  padding: .2em .5em 0 .5em;
}

section.criterion div.question-row {
  background-color: rgb(221, 239, 255);
  font-weight:bolder;
  font-size:x-large;
}

section.criterion div.relevance-heading-row {
  background-color: rgb(255, 221, 251);
  font-weight: bolder;
}

section.criterion div.responses-row {
  padding-bottom:0px;
}

section.criterion div.responses-row div.response-title {
  background-color: rgb(255, 246, 221);
  font-weight: bold;
  margin: -3px -8px;
  padding-left: 13px;
}
section.criterion table.responses {
  border-collapse: collapse;
}

section.criterion div.responses-row td {
  border-top: thin solid #b4b2b2;
  padding: .35em;
}

section.criterion div.responses-row td.first {
  border: none;
  padding: .35em;
}

section.criterion div.responses-row td.label {
  font-weight: bold;
  padding-right: .5em;
}
section.criterion div.responses-row td.meaning {
  font-style: oblique;
  width: 100%;
}

section.criterion div.assessments-row {
  background-color: rgb(255, 221, 221);
  font-weight: bolder;
}


section.criterion div.source-row {
  background-color: rgb(255, 247, 221);
}